@import "../../../../../theme/mixins.scss";

$color-text-secondary: var(--ion-color-secondary);
$color-text-tertiary: var(--ion-color-tertiary);

.title-menu {
  color: $color-text-secondary;
  margin-top: 5%;
  font-weight: 700;
  margin-left: 5%;

  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-title-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-title-sm);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-title-xl);
  }
}
.subtitle-menu {
  margin-left: 5%;

  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-title-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-title-sm);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-title-xl);
  }
}
.footer {
  height: 30%;
  ion-row {
    height: 75%;
  }
  .row-stepper {
    height: 25%;
  }
  .row-button {
    padding: 0 30%;
    ion-button {
      --ion-color-primary: #e2bd53;
      --padding-top: 3%;
      width: 100%;
      height: 35%;
      margin-top: 10%;
      text-transform: none;
    }

    ion-grid ion-col {
      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-xsm) !important;
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-sm) !important;
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-xl) !important;
      }
    }
  }
}
