<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row>
      <ion-item class="form-input">
        <ion-label class="ion-label" position="floating">Lote*</ion-label>

        <ion-select
          placeholder="Ingresa lote"
          formControlName="loteId"
          interface="action-sheet"
          (ionBlur)="change()"
          [disabled]="disabled(lots)"
        >
          <ng-container *ngFor="let lot of lots">
            <ion-select-option [value]="lot">
              {{ lot.loteId }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="
          form.hasError('required', 'loteId') &&
          (form.controls.loteId.touched || form.controls.loteId.dirty)
        "
      >
        Este campo es requerido.
      </ion-label>
    </div>
    <ion-row>
      <ion-item class="form-input">
        <ion-label class="ion-label" position="floating">Producto*</ion-label>

        <ion-select
          placeholder="Seleccione un producto"
          formControlName="productId"
          interface="action-sheet"
          [disabled]="disabled(filterProducts)"
        >
          <ng-container *ngFor="let product of filterProducts">
            <ion-select-option [value]="product.id">
              {{ product.description }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="
          form.hasError('required', 'productId') &&
          (form.controls.productId.touched || form.controls.productId.dirty)
        "
      >
        Este campo es requerido.
      </ion-label>
    </div>

    <ion-row>
      <ion-item class="form-input">
        <ion-label class="ion-label" position="floating"
          >Fecha de apertura</ion-label
        >
        <ion-datetime
          formControlName="date"
          placeholder="dd/mm/yyyy"
          displayFormat="DD/MM/YYYY"
        >
        </ion-datetime>
      </ion-item>
    </ion-row>
  </ion-grid>
</form>
