<app-header [itemBack]="header"></app-header>

<ion-content class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="title-menu">Cerrar lote</h1>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <close-lot-form #form (onSubmit)="onSubmit($event)" [products]="products$ | async"></close-lot-form>
    </ion-row>
  </ion-grid>
  <ion-grid class="footer">
    <ion-row class="row-stepper">
      <ion-col size="12">
        <warehouse-stepper></warehouse-stepper>
      </ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-button (click)="form.onSubmit()" [disabled]="form.form.invalid">
        <ion-grid>
          <ion-col>
            Cerrar lote
          </ion-col>
          <ion-spinner *ngIf="false" name="crescent"></ion-spinner>
        </ion-grid>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>