<app-header [itemBack]="header"></app-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <h1 class="title-menu">Menú</h1>
    </ion-col>
  </ion-row>
  <ion-segment class="body">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button
            [routerLink]="['/packaging/open-lot']"
            style="--background: #575552;"
            >Abrir lote</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            [routerLink]="['/packaging/close-lot']"
            style="--background: #575552;"
            >Cerrar lote</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="segment-odd">
          <ion-button
            [routerLink]="['/packaging/exit-lot']"
            style="--background: #575552;"
            >Salida</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-segment>
  <!-- <ion-grid class="footer">
    <ion-row class="row-stepper">
      <ion-col size="12"
        ><warehouse-stepper #stepper></warehouse-stepper
      ></ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-button
        [disabled]="!stepper.getStep(0)"
        (click)="nextSection()"
        class="next-button"
      >
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            Siguiente
          </ion-col>
          <ion-col size="2"><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
    </ion-row>
  </ion-grid> -->
</ion-content>
