<ion-content>
  <div class="content">
    <div class="ion-text-center">
      <ion-label class="title">¡Confirmación!</ion-label>
    </div>
    <div class="ion-text-center">
      <ion-label class="label">Está a punto de {{ action }} un lote.</ion-label>
    </div>

    <div class="ion-text-center buttons">
      <ion-label (click)="cancel()"> Cancelar</ion-label>

      <ion-button class="btn" color="primary" size="short" (click)="save()"
        >Aceptar</ion-button
      >
    </div>
  </div>
</ion-content>
