$color-text-primary: #575552;
$color-text-secondary: #717171;

.submenu-container {
  width: 100vw;
  height: 100%;
  background-color: white;
  .header-container {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 6vw;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .body-container {
    width: 100%;
    height: 50%;
    padding: 0 10%;
    background-color: white;
    margin-bottom: 5%;
    ion-grid {
      ion-row {
        height: 50%;
        ion-col {
          padding: 2% 6%;
          ion-segment-button {
            height: 100%;
            width: 100%;
            background-color: $color-text-secondary;
            border-radius: 8px;
            font-size: 3.5vw;
            font-weight: 500;
            --indicator-color: transparent;
            text-transform: none;
          }
        }
        .segment-odd {
          padding: 4% 6.5%;
        }
      }
    }
  }
  .footer-container {
    height: 30%;
    ion-row {
      height: 75%;
    }
    .row-stepper {
      height: 25%;
    }
    .row-button {
      padding: 0 30%;
      .next-button {
        --ion-color-primary: #e2bd53;
        --padding-top: 3%;
        width: 100%;
        height: 35%;
        margin-top: 10%;
        font-size: 3vw;
      }
    }
  }
}

.segment-button-checked {
  background-color: $color-text-primary !important;
  color: white;
}
