$color-text-primary: #575552;
$color-text-secondary: #717171;
$color-text-ternary: #b2b2b2;
$color-primary: #e2bd53;

.exit-lot-container {
  width: 100%;
  height: 100%;
  background-color: white;
  .header-container {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 4.5vw;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .body-container {
    width: 100%;
    height: 60%;
    padding: 0 5%;
    box-sizing: border-box;
    .subtitle {
      color: $color-primary;
      font-size: 3.8vw;
    }
    ion-row {
      margin: 0;
      margin-top: 4%;
      box-sizing: border-box;
      ion-item {
        font-size: 4.2vw;
        color: $color-text-ternary;
        .item-form {
          font-size: 3.1vw;
          color: $color-text-ternary;
        }
        &.item-has-focus {
          ion-label {
            color: #e2bd53;
          }
        }
      }
    }
    .error {
      margin-top: 1vh;
      height: 2vh;
      font-size: 2.7vw;
      color: red;
      transition: all 2s;
    }
  }
  .footer-container {
    height: 30%;
    ion-row {
      height: 75%;
    }
    .row-stepper {
      height: 25%;
    }
    .row-button {
      padding: 0 30%;
      .button {
        --ion-color-primary: #e2bd53;
        --padding-top: 3%;
        width: 100%;
        height: 35%;
        margin-top: 10%;
        font-size: 2.7vw;
      }
    }
  }
}

::ng-deep ion-action-sheet {
  --background: white !important;
  --color: black !important;
  font-size: 3vw !important;
}

::ng-deep .action-sheet-button {
  color: $color-text-primary !important;
}

::ng-deep ion-picker {
  color: $color-text-primary !important;
}
