@import "../../../../../theme/mixins.scss";

$color-secondary: var(--ion-color-secondary);
$color-text-tertiary: var(--ion-color-tertiary);

.container {
  width: 100vw;
  padding: 20px 20px 40px 20px;
}

form {
  height: 100%;
  width: 100%;
  .form-input,
  ion-datetime {
    color: $color-text-tertiary;
    margin-top: 20px;
    width: 100%;

    .ion-label {
      --color: black;
      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-title-xsm);
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-title-sm);
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-title-xl);
      }
    }
  }
  .error {
    margin-top: 2%;
    color: tomato;
    height: 2%;
    transform: 2s;
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }
  ion-button {
    height: 10%;
    width: 100%;
    text-transform: none;
    font-weight: 20;
    margin: 0;
    margin-top: 18%;
    border-radius: 5px;
    --ion-color-primary: var(--ion-color-primary);

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }
}
