<app-header [itemBack]="header"></app-header>
<div class="close-lote-container">
  <h1 class="header-container">Cerrar Lote</h1>
  <form [formGroup]="lotForm" class="body-container" (onchange)="checkValues()">
    <ion-row>
      <ion-item>
        <ion-label position="floating">Producto*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Selecione un producto"
          (ionChange)="selectLot($event)"
          [disabled]="products.length ==0"
          formControlName="product"
        >
          <ion-select-option *ngFor="let product of products" [value]="product">
            {{product.product}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="lotForm.hasError('required', 'product') &&
      (lotForm.controls.product.touched || lotForm.controls.product.dirty)"
      >
        Seleccione un producto
      </ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Lote de proveedor*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccione un lote"
          formControlName="serie"
          [disabled]="lots.length == 0"
        >
          <ion-select-option *ngFor="let lot of lots" [value]="lot"
            >Lote: {{lot.lot}} Apertura: {{lot.openingDate}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="lotForm.hasError('required', 'serie') &&
      (lotForm.controls.serie.touched || lotForm.controls.serie.dirty)"
      >
        Seleccione un lote
      </ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Fecha de terminaci&oacute;n*</ion-label>
        <ion-datetime
          class="item-form"
          placeholder="Ingresar fecha"
          displayFormat="MM/DD/YYYY"
          formControlName="date"
          disabled
        >
        </ion-datetime>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="date.errors">
        Por favor seleccione una fecha
      </ion-label>
    </div>
  </form>
  <ion-grid class="footer-container">
    <ion-row class="row-stepper">
      <ion-col size="12">
        <warehouse-stepper></warehouse-stepper>
      </ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-button
        color="primary"
        class="button"
        (click)="requestCloseLot()"
        [disabled]="lotForm.invalid"
      >
        <ion-grid>
          <ion-col *ngIf="!loading" size="12">Cerrar lote</ion-col>
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </ion-grid>
      </ion-button>
    </ion-row>
  </ion-grid>
</div>
