$color-secondary: #575552;
.report-container {
  background-color: white;
  width: 100%;
  height: 100%;

  .logo {
    height: 50%;
    background-image: url("src/assets/logo/rovianda_logo.svg"),
      url("src/assets/report-icons/file.svg");
    background-repeat: no-repeat;
    background-size: 24%, 27%;
    background-position: center bottom 18%, bottom center;
  }
  .title-report {
    margin: 0 auto;
    margin-top: 8%;
    font-size: 4vw;
    font-weight: 700;
    color: $color-secondary;
  }
  .row-button-report {
    padding: 0 30%;
    height: 25%;
    margin-top: 15%;
    .button-report {
      --ion-color-primary: #e2bd53;
      --padding-top: 3%;
      width: 100%;
      height: 35%;
      margin-top: 10%;
      font-size: 3vw;
    }
  }
}
