@import "../../../../../theme/mixins.scss";

$color-text-primary: black;
$color-text-secondary: #717171;
$color-text-ternary: black;

.open-lote-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  .header-container {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 5vw;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      margin: 20px;
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-extra-large) {
      margin: 25px;
      font-size: var(--fs-text-title-xl);
    }
  }
  .body-container {
    width: 100%;
    height: 60%;
    padding: 0 5%;
    box-sizing: border-box;
    ion-row {
      margin: 0;
      margin-top: 4%;
      box-sizing: border-box;
      ion-item {
        color: $color-text-ternary !important;
        .item-form {
          color: $color-text-ternary !important;

          @include breakpoint-size(ms-extra-small) {
            font-size: var(--fs-text-xsm);
          }

          @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm);
          }

          @include breakpoint-size(ms-extra-large) {
            font-size: var(--fs-text-xl);
          }
        }
        &.item-has-focus {
          ion-label {
            color: #e2bd53;
          }
        }

        ion-label {
          --color: black;
          margin: 10px 0;
          @include breakpoint-size(ms-extra-small) {
            font-size: var(--fs-text-xsm);
          }

          @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm);
          }

          @include breakpoint-size(ms-extra-large) {
            font-size: var(--fs-text-xl);
          }
        }
      }
    }
    .error {
      margin-top: 1vh;
      height: 2vh;
      color: red;
      transition: all 2s;

      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-error-xsm);
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-error-sm);
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-error-xl);
      }
    }
  }

  .footer-container {
    height: 30%;
    ion-row {
      height: 75%;
    }
    .row-stepper {
      height: 25%;
    }
    .row-button {
      padding: 0 30%;
      ion-button {
        --ion-color-primary: #e2bd53;
        --padding-top: 3%;
        width: 100%;
        height: 35%;
        margin-top: 10%;
        text-transform: none;

        ion-grid ion-col {
          @include breakpoint-size(ms-extra-small) {
            font-size: var(--fs-text-xsm) !important;
          }

          @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm) !important;
          }

          @include breakpoint-size(ms-extra-large) {
            font-size: var(--fs-text-xl) !important;
          }
        }
      }
    }
  }
}
::ng-deep ion-action-sheet {
  --background: white !important;
  --color: black !important;
  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-sm);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-xl);
  }
}

::ng-deep .action-sheet-button {
  color: black !important;
}

::ng-deep ion-picker {
  color: $color-text-primary !important;
}
