<app-header [itemBack]="header"></app-header>
<div class="open-lote-container">
  <h1 class="header-container">Abrir Lote</h1>
  <form [formGroup]="lotForm" class="body-container" (onchange)="checkValues()">
    <ion-row>
      <ion-item>
        <ion-label position="floating">Producto*</ion-label>
        <ion-select class="item-form" interface="action-sheet" placeholder="Seleccione un producto"
          (ionChange)="selectLot($event)" [disabled]="products.length == 0">
          <ng-container *ngFor="let product of products">
            <ion-select-option [value]="product"> {{product.product}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="lotForm.hasError('required', 'productId') &&
      (lotForm.controls.serie.touched || lotForm.controls.serie.dirty)">
        Seleccione un producto
      </ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Lote de proveedor*</ion-label>
        <ion-select class="item-form" interface="action-sheet" placeholder="Seleccione un producto"
          formControlName="serie" [disabled]="lots.length == 0">
          <ng-container *ngFor="let lot of lots">
            <ion-select-option [value]="lot">{{lot.lot}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="lotForm.hasError('required', 'serie') &&
      (lotForm.controls.serie.touched || lotForm.controls.serie.dirty)">
        Seleccione un lote
      </ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Fecha de apertura*</ion-label>
        <ion-datetime class="item-form" placeholder="Ingresar fecha" displayFormat="MM/DD/YYYY" formControlName="date"
          disabled></ion-datetime>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="date.errors">
        Seleccione una fecha
      </ion-label>
    </div>
  </form>
  <ion-grid class="footer-container">
    <ion-row class="row-stepper">
      <ion-col size="12">
        <warehouse-stepper></warehouse-stepper>
      </ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-button (click)="requestOpenLote()" [disabled]="lotForm.invalid" class="button">
        <ion-grid>
          <ion-col *ngIf="!loading" size="12">Abrir lote</ion-col>
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </ion-grid>
      </ion-button>
    </ion-row>
  </ion-grid>
</div>