@import "../../../../../theme/mixins.scss";

$color-text-secondary: var(--ion-color-secondary);
$color-text-tertiary: var(--ion-color-tertiary);

ion-grid {
  .title-menu {
    color: $color-text-secondary;
    margin-top: 5%;
    font-weight: 700;
    margin-left: 5%;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }
  .subtitle-menu {
    color: $color-text-tertiary;
    margin-top: 4%;
    font-size: 3.4vw;
    margin-left: 5%;
    margin-bottom: 15%;
  }
}

.container {
  height: 69vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
}

ion-button {
  width: 80vw;

  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-title-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-title-sm);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-title-xl);
  }
}

.file {
  height: 200px;
  max-height: 200px;
  background-image: url("src/assets/icons/file-regular.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
}

img.logo {
  width: 150px;
}

.center {
  display: flex;
}

.main {
  overflow: auto;
}
